*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
img{
    display: block;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.top-banner{
    height: 100vh;
    background-image: url(images/donation5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.top-text{
    width: 35%;
    color: #fff;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
}
h1{
    font-size: 40px;
}
p{
    margin-bottom: 40px;
}
.donate-btn, .subscribe-btn{
    margin-top: 40px;
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #ff4d4d;   
}


.donate, .donate-plan{
    width: 45%;
    margin: 0 auto;
    margin-top: 100px;
}
.text{
    text-align: center;
}
.title{
    color: #121212;
    font-size: 45px;
}
.donate-amount{
    display: flex;
        
}
.amount{
    color: #707070;
    background-color: #FAFAFA;
    font-size: 30px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
}
.amount:hover{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
}
.others{
    margin: 40px 0;
}
input{
    border: none;
    padding: 20px;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.card{
    width: 30%;
    padding: 5%;
    background-color: #EEF6F7;
    margin: 0 20px;
    border-radius: 10px;
}
.card1{
    background-color: #FFEFEF;
}
.card2{
    background-color: #FFF4D6;
}
.icon img{
    width: 50px;
}
.card-title{
    margin: 10px 0;
}
.card-description{
    color: #707070;
    font-size: 16px;
}
.post{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.post-text, .post-image{
    width: 45%;
}
.update-form{
    display: flex;
    justify-content: space-around;
    background-color: #FFF4D6;
    padding: 50px;
}
.email{
    width: 50%;
    border-radius: 10px;
}
.subscribe-btn{
    width: 40%;
}

footer{
    text-align: center;
    margin-top: 100px;
    padding: 40px 0;
    background-color: #0B0D17;
    color: #EEF6F7;
}


.hide{
    display: none;
}

@media screen and (max-width: 576px){
    .top-text{
        width: 50%;
    }
    .banner-title, title{
        font-size: 25px;
    }
    
    .title{
        font-size: 25px;
    }
    .donate, .donate-plan{
        width: 50%;
        margin-top: 50px;
    }
    .donate-amount{
        flex-wrap: wrap;
        gap: 10px;  
        margin: 0 auto;
    }
    .amount{
        font-size: 15px;
        padding: 10px;
    }
    .cards{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        width: 60%;
        margin: 0 auto;
    }

    .post{
        flex-direction: column;
        margin-top: 50px;
        gap: 50px;
    }
    .post-text, .post-image{
        width: 80%;
        margin: 0 auto;
    }

    .update-form{
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
    .email{
        width: 80%;
        padding: 15px;
    }
    .subscribe-btn{
        padding: 10px 15px;
    }


}
@media screen and (min-width: 577px) and (max-width: 992px){
    .top-text{
        width: 70%;
    }
    .banner-title, title{
        font-size: 25px;
    }

    .donate, .donate-plan{
        width: 70%;
    }
    .donate-amount{
        flex-wrap: wrap;
        gap: 10px;
    }
    .amount{
        font-size: 15px;
        padding: 10px;
        margin: 0 auto;
    }

    .cards{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        width: 60%;
        margin: 0 auto;
    }

    .post{
        align-items: center;
        margin-top: 50px;
    }
    .title{
        font-size: 25px;
    }
    .post-text{
        width: 50%;
        margin: 0 auto;
    }
    .post-image{
        width: 40%;
    }

}
