*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

.top-banner{
    height: 100vh;
    background-image: url(images/donation10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.top-text{
    width: 35%;
    color: #fff;
    margin: 0 auto;
    padding-top: 20%;
    text-align: center;
}
h1{
    font-size: 40px;
}
p{
    margin-bottom: 40px;
}
.donate-btn{
    margin-top: 40px;
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #ff4d4d;   
}
.donate, .donate-plan{
    width: 45%;
    margin: 0 auto;
    margin-top: 100px;
}
.text{
    text-align: center;
}
.title{
    color: #121212;
    font-size: 45px;
}
.donate-amount{
    display: flex;
    
}
.amount{
    color: #707070;
    background-color: #FAFAFA;
    font-size: 30px;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
}
.amount:hover{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
}
.others{
    margin: 40px 0;
}
input{
    border: none;
    padding: 20px;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.card{
    width: 30%;
    padding: 5%;
    background-color: #EEF6F7;
    margin: 0 20px;
}
.card1{
    background-color: #FFEFEF;
}
.card2{
    background-color: #FFF4D6;
}
.icon img{
    width: 50px;
}
.card-title{
    margin: 10px 0;
}
.card-description{
    color: #707070;
    font-size: 16px;
}
